* {
  font-family: Helvetica, sans-serif;
}

html {
  min-height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  margin: 0;
  height: 100vh;
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
      grid-template-areas: "logo cabecalho" "menu conteudo";
}

aside.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header.principal {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cabecalho;
}

aside.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menu;
}

main.conteudo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: conteudo;
}

@media (max-width: 1000px) {
  body {
    -ms-grid-rows: 80px 80px 1fr;
        grid-template-rows: 80px 80px 1fr;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
        grid-template-areas: "logo cabecalho" "menu menu" "conteudo conteudo";
  }
}

@media (max-width: 600px) {
  body {
    -ms-grid-rows: 80px 80px 80px 1fr;
        grid-template-rows: 80px 80px 80px 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "cabecalho" "menu" "conteudo";
  }
}

button {
  font-size: 1.3em;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
}

.botao-destaque {
  background-color: #da2b25;
  color: #FFF;
}

.botao-sucesso {
  background-color: #38a737;
  color: #FFF;
}

aside.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  background-color: #307dcf;
  color: #FFF;
}

@media (max-width: 600px) {
  aside.logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.principal button {
  margin: 5px;
}

@media (max-width: 600px) {
  header.principal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

aside.menu {
  background-color: #333;
  padding: 10px;
}

aside.menu a {
  display: block;
  text-decoration: none;
  color: #FFF;
  margin: 10px 0px;
  padding: 5px;
  font-size: 1.3em;
}

aside.menu a:hover {
  background-color: #307dcf;
}

@media (max-width: 1000px) {
  aside.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside.menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }
}

@media (max-width: 600px) {
  aside.menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main.conteudo {
  background-color: #DEDEDE;
  padding: 15px;
}
/*# sourceMappingURL=index.css.map */